PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET=b47d71055289f5dd2186d10304b5a0b3f463f2de28f88dada5bb3d9b05cc0f2e
FINNHUB_API_KEY=d86bag9r01qnvdehr320d86bag9r01qnvdehr32g
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
